#!/usr/bin/make -f

# Neither mc-version.h nor autoreconf is run here: the release archive is
# bootstrapped and carries both that header and the configure script. Writing
# the header from the Debian version would also put a series suffix such as
# ~ubuntu24.04.1 into the version banner.

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		--prefix=/usr \
		--sysconfdir=/etc \
		--libexecdir=/usr/lib \
		--disable-static \
		--with-screen=slang \
		--with-panel-plugins-dir=/usr/lib/mc/panel-plugins \
		--with-editor-plugins-dir=/usr/lib/mc/editor-plugins \
		--enable-mcterm=yes \
		--enable-mctree-magic=yes \
		--enable-panel-plugin-samba=yes \
		--enable-panel-plugin-ftp=yes \
		--enable-panel-plugin-arcmc=yes \
		--enable-panel-plugin-s3=yes \
		--enable-panel-plugin-mongo=yes \
		--enable-vfs-sftp=yes \
		--enable-panel-plugin-shell-link=yes \
		--enable-shell-ssh2=yes

override_dh_auto_install:
	dh_auto_install
	find debian/tmp -name '*.la' -delete

override_dh_missing:
	dh_missing --fail-missing
